.reloj-digital-container {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .time-display {
    font-size: 3rem;
    margin: 20px 0;
    font-weight: bold;
  }
  
  .time-adjust {
    margin-top: 20px;
  }
  
  label {
    margin-right: 10px;
    font-size: 1rem;
  }
  
  input[type='time'] {
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  