.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .content-area {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
  }
  