.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);
}

.register-box {
  background-color: white;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 40px; /* Espacio para el botón a la derecha */
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; 
  margin: 0; 
  font-size: 1.2rem; 
  color: #007bff; 
}

.toggle-password:focus {
  outline: none; 
}
